@charset "UTF-8";
:root {
  --title-cl: #303030;
  --main-light-cl: #ffffff;
  --main-text-cl: #9da4bd;
  --second-text-cl: #555555;
  --bg-cl: #f7f7f7;
  --accent-cl: #ff6c00;
  --placeholder-color: rgba(157, 164, 189, 0.4);
}

.hero__title, .about__title, .prices__title, .features__title, .masters__title, .sign__title, .contacts__title {
  margin-bottom: 20px;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--title-cl);
}

.hero__subtitle, .about__subtitle, .prices__subtitle, .features__subtitle, .masters__subtitle, .portfolio__subtitle, .contacts__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero__subtitle::before, .about__subtitle::before, .prices__subtitle::before, .features__subtitle::before, .masters__subtitle::before, .portfolio__subtitle::before, .contacts__subtitle::before {
  content: "";
  margin-right: 20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.site-social__link, .socials__link, .header__link, .mobile-menu__link, .contacts__link {
  display: block;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.site-social__link:hover, .socials__link:hover, .header__link:hover, .mobile-menu__link:hover, .contacts__link:hover, .site-social__link:focus, .socials__link:focus, .header__link:focus, .mobile-menu__link:focus, .contacts__link:focus {
  color: var(--accent-cl);
  outline: none;
}

.header__button, .mobile-menu__button, .about__button, .prices__button, .sign__button {
  display: block;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 20px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear, color 250ms linear;
  transition: background-color 250ms linear, color 250ms linear;
}

.header__button:hover, .mobile-menu__button:hover, .about__button:hover, .prices__button:hover, .sign__button:hover, .header__button:focus, .mobile-menu__button:focus, .about__button:focus, .prices__button:focus, .sign__button:focus {
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
  outline: none;
}

.hero, .about, .prices, .features, .masters, .portfolio, .sign, .contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero, .about, .prices, .features, .masters, .portfolio, .sign, .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .hero, .about, .prices, .features, .masters, .portfolio, .sign, .contacts {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
  background-color: var(--main-light-cl);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* обнуление внешних отступов */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.container {
  max-width: 448px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-social {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--title-cl);
}

.site-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-social__item:first-child {
  position: relative;
}

.site-social__item:first-child::before {
  content: "";
  position: absolute;
  left: -100px;
  top: 50%;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-cl);
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 27px;
  color: var(--main-light-cl);
}

@media (min-width: 768px) {
  .header {
    font-size: 12px;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 768px) {
  .header {
    padding-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--main-light-cl);
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .header__logo {
    margin-left: 10px;
    margin-right: 70px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: var(--title-cl);
  }
}

@media (min-width: 1280px) {
  .header__logo {
    margin-right: 70px;
    color: var(--title-cl);
  }
}

.header__icon {
  display: block;
}

@media (min-width: 768px) {
  .header__icon {
    width: 65px;
    height: 55px;
  }
}

.header__nav {
  display: none;
}

@media (min-width: 768px) {
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24.25px;
}

@media (min-width: 1280px) {
  .header__list {
    gap: 40px;
  }
}

.header__link {
  padding-top: 13px;
  padding-bottom: 13px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .header__wrapper {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .header__button {
    margin-bottom: 20px;
  }
}

.burger__button {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

@media (min-width: 768px) {
  .burger__button {
    display: none;
  }
}

.burger__item {
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--main-light-cl);
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: background-color 250ms linear, -webkit-transform 250ms linear;
  transition: transform 250ms linear, background-color 250ms linear;
  transition: transform 250ms linear, background-color 250ms linear, -webkit-transform 250ms linear;
}

.burger__item:not(:last-child) {
  margin-bottom: 3px;
}

.burger__button.is-open .burger__item {
  background-color: var(--title-cl);
}

.burger__button.is-open .burger__item--top {
  -webkit-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
  -webkit-transition-delay: 125ms;
          transition-delay: 125ms;
}

.burger__button.is-open .burger__item--center {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.burger__button.is-open .burger__item--bottom {
  -webkit-transform: translateY(-6px) rotate(-225deg);
          transform: translateY(-6px) rotate(-225deg);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.2);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

@media (min-width: 768px) {
  .backdrop {
    display: none;
  }
}

.mobile-menu {
  padding: 118px 40px;
  margin-left: auto;
  max-width: 337px;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  color: var(--title-cl);
  background-color: var(--main-light-cl);
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.backdrop.is-open .mobile-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__list {
  margin-bottom: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}

.mobile-menu__button {
  margin-top: 24px;
  margin-bottom: 64px;
}

.mobile-menu__site-social {
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

.hero {
  padding-top: 208px;
  padding-bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3-s.jpg");
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3-s.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-s.webp") 1x);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-s.webp") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px 580px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3@2x-s.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3@2x-s.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-s@2x.webp") 2x);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-s@2x.webp") 2x);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero {
    padding-top: 280px;
    background-position: left calc(50% + 67px) top;
    background-size: 576px 680px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3-m.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3-m.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-m.webp") 1x);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-m.webp") 1x);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3@2x-m.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3@2x-m.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-m@2x.webp") 2x);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-m@2x.webp") 2x);
  }
}

@media (min-width: 1280px) {
  .hero {
    padding-top: 272px;
    background-position: left calc(50% + 58px) top;
    background-size: 1073px 680px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3-l.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3-l.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-l.webp") 1x);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-l.webp") 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/img3@2x-l.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/img3@2x-l.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), -webkit-image-set(url("../images/hero/img3-l@2x.webp") 2x);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), -webkit-image-set(url("../images/hero/img3-l@2x.webp") 2x);
  }
}

@media (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__aside {
  display: none;
}

@media (min-width: 768px) {
  .hero__aside {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero__aside {
    padding-left: 30px;
    width: 113px;
  }
}

@media (min-width: 1280px) {
  .hero__aside {
    padding-left: 17px;
    width: 93px;
  }
}

@media (min-width: 768px) {
  .hero__site-social {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-90deg) translate(-15px);
            transform: rotate(-90deg) translate(-15px);
    color: var(--title-cl);
  }
}

.hero__content {
  padding-bottom: 183px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero__content {
    padding-left: 70px;
    padding-bottom: 237px;
  }
}

@media (min-width: 1280px) {
  .hero__content {
    padding-left: 96px;
    padding-bottom: 181px;
  }
}

.hero__subtitle {
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  font-size: 48px;
  color: var(--main-light-cl);
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__text {
  max-width: 306px;
  font-size: 16px;
  line-height: 1.62;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero__text {
    max-width: 349px;
  }
}

@media (min-width: 1280px) {
  .hero__text {
    max-width: 400px;
    font-size: 18px;
  }
}

.about {
  color: var(--second-text-cl);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__aside {
  display: none;
}

@media (min-width: 768px) {
  .about__aside {
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about__aside {
    margin-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .about__aside {
    margin-right: 64px;
    width: 570px;
  }
}

@media (min-width: 1280px) {
  .about__img {
    width: 270px;
    height: 445px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about__content {
    width: 330px;
  }
}

@media (min-width: 1280px) {
  .about__content {
    width: 500px;
  }
}

.about__subtitle {
  color: var(--title-cl);
}

@media (max-width: 1279.98px) {
  .about__title {
    font-size: 28px;
  }
}

.about__text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
}

@media (min-width: 1280px) {
  .about__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__description {
  margin-bottom: 40px;
  line-height: 1.86;
}

.about__button {
  color: var(--title-cl);
}

.prices {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/prices/img-s.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
  background-image: url("../images/prices/img-s.png"), linear-gradient(#111319, #111319);
  background-image: -webkit-image-set(url("../images/prices/img-s.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
  background-image: -webkit-image-set(url("../images/prices/img-s.webp") 1x), linear-gradient(#111319, #111319);
  background-size: 480px 826px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/img-s@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/prices/img-s@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/prices/img-s@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/prices/img-s@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .prices {
    background-image: url("../images/prices/img-m.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/prices/img-m.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/prices/img-m.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/prices/img-m.webp") 1x), linear-gradient(#111319, #111319);
    background-size: 768px 858px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/img-m@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/prices/img-m@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/prices/img-m@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/prices/img-m@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

@media (min-width: 1280px) {
  .prices {
    background-image: url("../images/prices/img-l.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/prices/img-l.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/prices/img-l.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/prices/img-l.webp") 1x), linear-gradient(#111319, #111319);
    background-size: 1280px 718px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/img-l@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/prices/img-l@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/prices/img-l@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/prices/img-l@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

.prices__subtitle {
  color: rgba(157, 164, 189, 0.6);
}

@media (max-width: 479.98px) {
  .prices__subtitle {
    font-size: calc(6px + 1vw);
  }
}

.prices__title {
  margin-bottom: 44px;
  color: var(--main-light-cl);
}

.prices__wrapper {
  margin-bottom: 50px;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media (max-width: 479.98px) {
  .prices__wrapper {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .prices__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  .prices__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    background: unset;
  }
}

.prices__list {
  line-height: 2.14;
}

@media (max-width: 479.98px) {
  .prices__list {
    font-size: calc(9px + 1vw);
  }
}

@media (max-width: 1279.98px) {
  .prices__list:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .prices__list {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media (min-width: 1280px) {
  .prices__list {
    padding: 30px 40px;
    width: 585px;
  }
  .prices__list:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices__list:last-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.prices__item:not(:last-child) {
  margin-bottom: 20px;
}

.prices__item::after {
  content: "";
  margin-left: 6px;
  margin-right: 6px;
  height: 1px;
  background-color: currentColor;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.prices__text {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.prices__price {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.prices__button {
  margin-left: auto;
  margin-right: auto;
  color: var(--main-light-cl);
}

.features {
  padding-bottom: calc(84px + 35px);
  color: var(--title-cl);
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .features {
    padding-bottom: calc(100px + 35px);
  }
}

@media (min-width: 1280px) {
  .features {
    padding-bottom: calc(130px + 35px);
  }
}

@media (min-width: 1280px) {
  .features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .features__title {
    max-width: 420px;
  }
}

@media (min-width: 1280px) {
  .features__title {
    max-width: 412px;
  }
}

.features__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--second-text-cl);
}

@media (min-width: 768px) {
  .features__text {
    max-width: 500px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 447px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .features__list {
    margin-left: auto;
    width: 450px;
  }
}

@media (min-width: 1280px) {
  .features__list {
    margin-left: 100px;
    margin-right: 130px;
    width: 370px;
  }
}

.features__item {
  padding: 20px 32px;
  width: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--bg-cl);
}

.features__item:nth-child(2n) {
  margin-top: 35px;
  margin-bottom: -35px;
}

@media (max-width: 447px) {
  .features__item:nth-child(2n) {
    margin: unset;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .features__item {
    width: 210px;
  }
}

@media (min-width: 1280px) {
  .features__item {
    width: 170px;
  }
}

.features__number {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.features__number::after {
  content: "+";
  margin-left: 2px;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 600;
  color: var(--accent-cl);
}

.features__feature {
  font-size: 11px;
  font-weight: 600;
}

.masters {
  color: var(--title-cl);
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .masters__container {
    max-width: 450px;
  }
}

.masters__title {
  margin-bottom: 44px;
}

.masters__list {
  display: -ms-grid;
  display: grid;
  gap: 64px;
}

@media (min-width: 1280px) {
  .masters__list {
    -ms-grid-columns: 370px 370px 370px;
        grid-template-columns: 370px 370px 370px;
    gap: 30px;
  }
}

.masters__item {
  text-align: center;
}

@media (max-width: 479.98px) {
  .masters__img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .masters__img {
    width: 450px;
  }
}

@media (min-width: 1280px) {
  .masters__img {
    width: 370px;
  }
}

.masters__master {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.masters__description {
  margin-bottom: 30px;
  color: var(--accent-cl);
}

.portfolio__subtitle {
  margin-bottom: 44px;
  color: var(--title-cl);
}

.portfolio__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .portfolio__list {
    -ms-grid-columns: 330px 330px;
        grid-template-columns: 330px 330px;
  }
}

@media (min-width: 1280px) {
  .portfolio__list {
    -ms-grid-columns: (270px)[4];
        grid-template-columns: repeat(4, 270px);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .portfolio__img {
    width: 330px;
  }
}

@media (min-width: 1280px) {
  .portfolio__img {
    width: 270px;
  }
}

.sign {
  background-color: #191c26;
  text-align: center;
}

@media (min-width: 768px) {
  .sign {
    text-align: unset;
  }
}

@media (min-width: 1280px) {
  .sign {
    padding-left: 40px;
    padding-right: 25px;
    max-width: 655px;
  }
}

.sign__title {
  margin-bottom: 44px;
  color: var(--main-light-cl);
}

@media (min-width: 768px) {
  .sign__form {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 44px;
    -ms-grid-columns: 330px 330px;
        grid-template-columns: 330px 330px;
  }
}

@media (min-width: 1280px) {
  .sign__form {
    -ms-grid-columns: 270px 260px;
        grid-template-columns: 270px 260px;
  }
}

.sign__label {
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .sign__label {
    margin-bottom: unset;
  }
}

@media (min-width: 768px) {
  .sign__label--textarea {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.sign__input {
  display: block;
  padding: 0 0 8px 0;
  width: 100%;
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--main-light-cl);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.sign__input::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.sign__input:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.sign__input::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.sign__input::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.sign__input:focus, .sign__input:not(:placeholder-shown) {
  outline: none;
  border-bottom: 1px solid var(--main-light-cl);
}

.sign__input--textarea {
  min-height: 76px;
  resize: none;
}

.sign__button {
  margin-left: auto;
  margin-right: auto;
  color: var(--main-light-cl);
}

@media (min-width: 768px) {
  .sign__button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-left: unset;
  }
}

.contacts {
  font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/contacts/img-s.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
  background-image: url("../images/contacts/img-s.png"), linear-gradient(#111319, #111319);
  background-image: -webkit-image-set(url("../images/contacts/img-s.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
  background-image: -webkit-image-set(url("../images/contacts/img-s.webp") 1x), linear-gradient(#111319, #111319);
  background-size: 480px 496px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts/img-s@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/contacts/img-s@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/contacts/img-s@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/contacts/img-s@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contacts {
    background-image: url("../images/contacts/img-m.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/contacts/img-m.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/contacts/img-m.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/contacts/img-m.webp") 1x), linear-gradient(#111319, #111319);
    background-size: 768px 449px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts/img-m@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/contacts/img-m@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/contacts/img-m@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/contacts/img-m@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

@media (min-width: 1280px) {
  .contacts {
    padding-left: 85px;
    width: 625px;
    background-image: url("../images/contacts/img-l.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/contacts/img-l.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/contacts/img-l.webp") 1x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/contacts/img-l.webp") 1x), linear-gradient(#111319, #111319);
    background-size: 625px 644px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts/img-l@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url("../images/contacts/img-l@2x.png"), linear-gradient(#111319, #111319);
    background-image: -webkit-image-set(url("../images/contacts/img-l@2x.webp") 2x), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: -webkit-image-set(url("../images/contacts/img-l@2x.webp") 2x), linear-gradient(#111319, #111319);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contacts__container {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 40px;
    -ms-grid-columns: 330px 330px;
        grid-template-columns: 330px 330px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--main-light-cl);
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contacts__title {
    margin-bottom: unset;
    text-align: unset;
  }
}

@media (min-width: 1280px) {
  .contacts__title {
    text-align: unset;
  }
}

.contacts__address {
  margin-bottom: 44px;
  font-style: normal;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contacts__address {
    margin-bottom: unset;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (min-width: 1280px) {
  .contacts__address {
    margin-bottom: 70px;
    max-width: 270px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link--email {
  text-decoration: underline;
}

.contacts__icon {
  margin-right: 16px;
  fill: transparent;
}

.contacts__subtitle {
  color: var(--main-light-cl);
}

.contacts__subtitle::before {
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */