.hero {
  @extend %section;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 580px;
  background-image: linear-gradient(
    rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)
  );
  @include mq(s-mobile) {
    min-height: calc(100vw * 1.21);
  }
  @include mq(mobile) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  @include mq(tablet) {
    max-width: 768px;
    background: none;
  }
  @include mq(desktop) {
    max-width: 1280px;
  }
}
.hero__container {
  @include mq(tablet) {
    display: flex;
  }
}
.hero__aside {
  display: none;
  @include mq(tablet) {
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
  }
  @include mq(tablet-only) {
    padding-left: 30px;

    width: 113px;
  }
  @include mq(desktop) {
    padding-left: 17px;
    width: 97px;
  }
}
.hero__site-social {
  @include mq(tablet) {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-15px);
    color: var(--title-cl);
  }
}
.hero__content {
  padding-top: 208px;
  width: 100%;
  @include mq(s-mobile) {
    padding-top: calc(10px + 30vw);
  }
  @include mq(mobile) {
    padding-bottom: 183px;
  }
  @include mq(tablet) {
    padding-left: 70px;
    padding-bottom: 237px;
    background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    );
  }
  @include mq(desktop) {
    padding-left: 96px;
    padding-bottom: 181px;
    max-width: 1073px;
  }
}
.hero__subtitle {
  @extend %subtitle;
  color: rgba(157, 164, 189, 0.6);
}
.hero__title {
  @extend %title;
  font-size: 48px;
  color: var(--main-light-cl);
  @include mq(s-mobile) {
    font-size: calc(40px + 1vw);
  }
  @include mq(desktop) {
    font-size: 72px;
  }
}
.hero__text {
  max-width: 306px;
  font-size: 16px;
  line-height: 1.62;
  @include mq(tablet-only) {
    max-width: 349px;
  }
  @include mq(desktop) {
    max-width: 400px;
    font-size: 18px;
  }
}
