.container {
  max-width: 448px;
  @include mq(tablet-only) {
    max-width: 660x;
  }
  @include mq(desktop) {
    max-width: 1200px;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
