.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials__link {
  @extend %link;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-cl);
}
