%title {
  margin-bottom: 20px;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--title-cl);
}
%subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &::before {
    content: "";
    margin-right: 20px;
    height: 1px;
    width: 60px;
    background-color: currentColor;
  }
}
%link {
  display: block;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-cl);
    outline: none;
  }
}
%button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 40px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
  &:hover,
  &:focus {
    color: var(--main-light-cl);
    background-color: var(--accent-cl);
    outline: none;
  }
}

%section {
  padding-top: 84px;
  padding-bottom: 84px;
  @include mq(tablet-only) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include mq(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
